@import "tailwindcss";

html, body{
  scrollbar-color: #7b7676 #1c2952;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
  color:white;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  width:100%;
  height: 100%;
}